{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if user_login %}
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
      <p>If you don't have an account please <a href="{% url 'user-register' %}">register</a>!</p>
    {% else %}
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    {% endif %}
{% endblock content %}